/* shared style here */
*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
 }
 body{
    font-family: 'Work Sans', sans-serif;
    
 }
 /* nav part style here */
 .nav-container{
    max-width: 1400px;
    min-height: 70px;
    margin: 0 auto;
    display: flex;
 }
 .nav-logo-container{
    width: 50%;
    height: 70px;
    display: flex; 
    align-items: center; 
    gap: 10px;
 }
.nav-logo{
    height: 30px;
    object-fit: cover;
}
 ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
}
.nav-title{
    width: 50%;
    height: 70px;
}
ul li{
    list-style: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.logo-color{
    color:#FF42A5;
 }
 .nav-heading{
    font-size: 45px;
    font-weight: 700;
 }
 .title-icon{
    width:200px;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
 }
 .img-icon{
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius:4px;
 }
 .icon-title{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
 }
 /* the nav part end  */
 /* the banner style start here */
 .banner-container{
    max-width:1490px;
    min-height:50px ;
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
   


 }

 .banner-title{
    width:55%;
    background-image: url(img/Group\ 14.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    padding-top:200px;
    padding-right:150px;
    

}
 .banner-img{
    width:45%;
 }
 .banner-img img{
    width: 100%;
    height: 100%;
   
 }
 
 .banner-first-head{
    color: #0B0223;
    font-size:48px;
    font-weight: 600;
    text-transform: uppercase;
 }
 .banner-second-head{
    font-size:6em;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;

 }
 .banner-paragraph{
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-align:left;
    padding-left:155px;
    margin-top: 15px;

 }
 .banner-button{
    margin-top:30px;
    padding-right:55px;
  
}

 .button-one{
    height:65px;
    width: 156px;
    background-color: #FF42A5;
    border-radius: 48px;
    border: none;
    cursor: pointer;
 }
.button-two{
    height:65px;
    width: 156px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    cursor: pointer;
 }
 .button-title{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding:20px;

 }
 /* the main part style */
 .funy-contain{
    text-align: center;
    padding:50px;
  
 }
 .funy-img-paragrahp{
    height:400px ;
    width:300px ;
 }
 .funny-img-container{
    max-width:1400px ;
    margin:auto ;
    display:grid;
    gap: 20px;
    grid-template-columns:repeat(4,1fr);
    justify-content: space-between;
 }
 .funy-img-paragrahp p{
    margin-top: 30px;
 }
 .funy-contain-paragraph{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
 }
 .funy-contain-head{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
 }
 .heading-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

 }
 /*the second section style start  */
 .second-section-container{
    max-width:1200px;
    min-height:50px;
    margin:150px auto;
    display: flex;
    align-items: center;
    justify-content:center;

 }
 .second-section-img{
    width: 50%;
    position: relative;

 }
 .second-section-img img{
    width:400px;
   

 }
 .second-section-title{
    width:429px;
    height:180px;

 }
 .position-img{
    width:200px;
    height:240px;
    position:absolute;
    top: 220px;
    right:150px;

 }
 .position-img img{
    height:200px ;
    width:200px;
    object-fit: cover;
    padding-left:25px;
 }
 .second-section-title-paragraph{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
 }
 .second-section-title-head{
    font-size: 48px;
    font-weight: 700;
 }
 /* the third part style start */
 .third-section{
   background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
   margin-top:0 px;
 }
 .third-section-container{
   max-width:1100px;
   min-height:300px;
   margin: 0 auto;
 }
 .first-flex-section{
   padding-top:60px;
   display: flex;
   justify-content: center;
   gap:40px;
  }
  #width{
   width:300px;
   height: 70px;
   gap: 0px;
  }

 .second-flex-section{
   padding-top:30px;
   display: flex;
   justify-content: center;
   align-content: center;
 }
  
 .third-img-section {
   width:248px;
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap:8px;
   background-color:white;
   border-radius: 50px;
   border: none;
   cursor: pointer;

 }
 .third-img-section p{
   color: #0B0223;
   font-size:1rem;
   font-weight: 600;
}
.third-img-section:hover{
   color:#FF42A5;
   border:1px solid #FF42A5;
}
.third-img-section p:hover{
   color:#FF42A5 ;
}

 /* the footer style here */
 footer{
   background-color: #0B0223;
 }
 .footer-container{
   max-width:1400px;
   min-height:400px;
   padding:20px;
   margin: 0 auto;
 }
 .footer-logo{
   display: flex;
   gap:10px;
   align-items: center;
   justify-content: center;
 }
 .foother-title{
   width:60% ;
   padding:20px ;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(6,1fr);
   justify-content:space-around;
   align-content: center;
   
 }
 .foother-logo{
   width: 20%;
   margin:auto ;
   padding:20px;
   display: grid;
   gap:10px ;
   grid-template-columns: repeat(6,1fr);
   justify-content:center;
   
 }
 .foother-paragraph{
   width:60% ;
   padding:30px ;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   justify-content:space-around;
 }
 .foother-copy{
   text-align: center;
 }
 .foother-copy p{
   color: rgba(255, 255, 255, 0.60);
   font-size: 16px;
   font-weight: 500;

 }
 .foother-paragraph p{
   color: rgba(255, 255, 255, 0.60);
   font-size: 16px;
   font-weight: 500;

 }
 .foother-title p{
   color: #FFF;
   font-size: 18px;
   font-weight: 600;

 }
 .foother-head{
   font-size: 45px;
   font-weight: 700;
   color: white;
 }
 .logo{
   color: #FF42A5;
 }




@media screen and (max-width:567px) {
    .nav-container{
        flex-direction: column;
        padding-left: 120px;
     
    }
    ul{
        flex-direction: column;
        margin-top: 30px;
    }
   
    li{
        margin:20px auto ;
    }
    .nav-title{
        margin-left: 20px;
        margin-top: 30px;
    }
    .nav-logo-container{
        margin-top: 30px;
    }
    .title-icon{
        margin-top:30px ;
    }

    .banner-container{
        flex-direction:column-reverse;
        margin: 20px;
    }
    .banner-title , .banner-button{
        width: 100%;
        padding:0px;
    }
    .banner-img{
        margin-top:80px;
        width: 100%;
    }
    .banner-paragraph{
        padding-left:50px;
    }
    
    .funny-img-container{
         grid-template-columns:repeat(1,1fr);
   
       
    }
    .funy-img-paragrahp{
          margin-top: 40px;
          margin-bottom:50px;
          text-align: center;
    }

    .funny-img-container{
        width:100%;
        min-height:100px;
        padding:50px;
    }
    /* the second section part */

    .second-section-container{
      flex-direction: column;
      margin-top:20px;
  
    }
    .second-section-title{
      margin:200px;
      text-align: center;
    }
    .second-section-img{
      margin-right:50px ;
          
    }
    .position-img img{
   

      height:150px;
     
 
    }
    .second-section-img img{
     margin:auto;
     width: 300px;
    }

    .third-section-container{
      grid-template-columns: repeat(3,1fr);
    }
    .third-section-container{
      padding:10px ;
      margin-top:10px;
    }
    .foother-title{
      grid-template-columns: repeat(3,1fr);
    }

}



/* @media screen and (max-width:768px) {
  
    .nav-container{
        flex-direction: column;
        padding-left: 270px;
     
    }
    ul{
        flex-direction: column;
        margin-top: 40px;
    }
    li{
        margin:20px auto ;
    }
} */